.additem-div {
    height: 100vh;
}

.inp {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 10px;
    width: 250px;
    font-size: larger;
}

.inp:focus {
    outline: none;
}

.textarea {
    width: 40%;
}
